.row.pb-1.has-border-top.mt-3.pt-3
    .col-md-12
        h3 Support & Donation
    .col-md-12.mb-2
        .alert.alert-info
            p.mb-0 Support the development of this application by donating to the project, you can donate via the donation link below. Any of the donations will be used to cover the costs of development of this plugin.
            p.mb-0 We're appreciative of any support you can give. Many thanks in advance!

    .col-md-12.pt-3.text-right
        button.btn.btn-primary.flex-shrink-0.ml-3.mb-2((click)='openDonationPage()')
            i.fas.fa-fw.fa-donate.mr-2
            span Make Donation

