.col-md-12.has-border-top.pt-3
    p.small.mb-0
        i.fas.fa-fw.fa-user.mr-2
        span([textContent]='info.author')
    p.small.mb-0
        a((click)='openSupportUrl()', href='#')
            i.fas.fa-fw.fa-home.mr-2
            span([textContent]='info.support_url')
    p.small.mb-0
        a((click)='openGitHubUrl()', href='#')
            i.fab.fa-fw.fa-github.mr-2
            span([textContent]='info.github_url')
    p.small
        i.fas.fa-fw.fa-history.mr-2
        span([textContent]='info.version')
