// TODO TRAN Add change logs for v1.5.2
.row.pb-1.has-border-top.mt-3.pt-3
    .col-md-12
        h3 Cloud Sync Settings Plugin Change Logs
    .col-md-12.mb-2
        p.mb-0 List of all changes to the cloud sync settings plugin.
    .col-md-12
        .row
            .col-md-12
                table.table.table-striped.table-bordered.table-hover.table-sm
                    thead
                        tr
                            th Version
                            th Date
                            th Description
                    tbody
                        tr
                            td 1.5.1
                            td 2022-08-16
                            td
                                p.mb-0.pb-0 Inline Feedback, change logs, donate button, and more.
                                p.mb-0.pb-0 Improve UI for better user experience.
                                p.mb-0.pb-0 Minor fixes and bugs.
                        tr
                            td 1.5.0
                            td 2022-07-17
                            td
                                p.mb-0.pb-0 Official support for S3 Compatibility Minio, and others...
                                p.mb-0.pb-0 Minor fixes and bugs.
                        tr
                            td 1.4.3
                            td ...
                            td
                                p.mb-0.pb-0 Minor fixes and bugs.
                        tr
                            td 1.4.0
                            td 2022-05-22
                            td
                                p.mb-0.pb-0 Auto sync support (Detect sync settings from other machine from cloud).
                                p.mb-0.pb-0 Critical bugs fix.
                                p.mb-0.pb-0 Minor fixes and bugs.
                        tr
                            td 1.3.0
                            td 2021-12-21
                            td
                                p.mb-0.pb-0 Support FTP / FTPs Port settings.
                                p.mb-0.pb-0 Add support for Gists (GitHub, GitLab).
                                p.mb-0.pb-0 Backup the Tabby settings for first time sync.
                                p.mb-0.pb-0 Minor fixes and bugs.
                        tr
                            td 1.2.2
                            td 2021-08-24
                            td
                                p.mb-0.pb-0 Add support for Blackblaze B2 Storage
                        tr
                            td 1.2.1
                            td 2021-08-21
                            td
                                p.mb-0.pb-0 Add support for Digital Ocean Space
                        tr
                            td 1.2.0
                            td 2021-08-19
                            td
                                p.mb-0.pb-0 Add support for Wasabi Cloud Storage
                        tr
                            td 1.1.3
                            td 2021-08-14
                            td
                                p.mb-0.pb-0 Add logger.
                                p.mb-0.pb-0 Minor fixes and bugs.
                        tr
                            td 1.0.2
                            td 2021-08-07
                            td
                                p.mb-0.pb-0 Optimize for security setting file encryption.
                                p.mb-0.pb-0 Fixing bugs.
                        tr
                            td 1.0.0
                            td 2021-08-01
                            td
                                p.mb-0.pb-0 Initial the plugin package
                                p.mb-0.pb-0 Added Support for Amazon S3, FTP, WebDav
    .col-md-12.pt-3.text-right
        button.btn.btn-primary.flex-shrink-0.ml-3.mb-2((click)='openPluginPage()')
            i.fas.fa-fw.fa-link.mr-2
            span Visit Plugin Page
