.row.pb-1.has-border-top.mt-3.pt-3
    .col-md-12
        h3 Set Master Password (Vault)
    .col-md-12.mb-2
        .alert.alert-warning
            p.mb-0 You could set Tabby Vault password to encrypt your data. Click on the left side menu to configure your vault password.
