.has-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.enable-sync {
  margin-top: -25px;
}

.tabby-sync-loading {
    position: fixed;
    z-index: 999;
    right: 50px;
    bottom: 50px;
}
.tabby-sync-connection-type.expanded,
.tabby-sync-connection-type.expanded:hover {
    background-color: #0059a559;
}
.mr-2 {
    margin-right: 5px;
}
.mb-2 {
    margin-bottom: 5px;
}
/* HTML: <div class="loader"></div> */
.tabby-sync-loading .loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
}
.tabby-sync-loading .loader::before,
.tabby-sync-loading .loader::after {
    content:"";
    grid-area: 1/1;
    --c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
    background:
        var(--c) 50%  0,
        var(--c) 50%  100%,
        var(--c) 100% 50%,
        var(--c) 0    50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
}
.tabby-sync-loading .loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear
}

@keyframes l12 {
    100%{transform: rotate(.5turn)}
}
