.has-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.enable-sync {
  margin-top: -25px;
}

.tabby-sync-loading {
    position: fixed;
    z-index: 999;
    right: 10px;
    bottom: 40px;
}
.tabby-sync-connection-type.expanded,
.tabby-sync-connection-type.expanded:hover {
    background-color: #0059a559;
}
.mr-2 {
    margin-right: 5px;
}
.mb-2 {
    margin-bottom: 5px;
}
